#speakers {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

#speakers a {
	text-align: center;
}

#speakers a img {
	width: 200px;
	height: 200px;
	display: block;
}